
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #762705;
}
header{
    text-align: center;
    padding: 20px;
    color: blue;
}

.main{
    margin-left: 500px;
    size: 500px;

}
#main-container{
    padding-left:250px;
    padding-right:250px;
    justify-content: center;
}


#basic-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;

}

.grid-item {
    background-color:black;
    border: 1px solid white;
    padding: 25px;
    text-align: center;

}

img{
max-width: 200px;
height: auto;  
}

#home{
    margin-left: 200px;
    margin-top: 100px;
    font-size: xx-large;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.expand-text{
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
    transition-property: letter-spacing, color;
    transition-duration: 0.5;
    transition-timing-function: ease;
}

.expand-text:hover{
    letter-spacing: 30px;
    color: red;
}

footer{
margin-right: 150px;
margin-bottom: 50px;
margin-left: 300px;
font-size: x-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}




/*imagehover*/

ul {
    display: flex;
  }

  li {
    list-style-type: none;
    padding: 10px;
    position: relative;
  }

  .large{
    position: absolute;
    left:-999px;
  }

  li:hover.large {
    left: 20px;
    top: -150px;
  }

.large-image {
    border-radius: 4px;
     box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);;
  }
/*end*/