
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #762705;
}
header{
    text-align: center;
    padding: 20px;
    color: white;
}

a{
    color: white;
}
.main{ 
    left: 50%;
    size: 500px;
    justify-content: center;

}
#main-container{
    padding-left:250px;
    padding-right:250px;
    justify-content: center;
}


#basic-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;

}

.grid-item {
    background-color:black;
    border: 1px solid white;
    padding: 25px;
    text-align: center;
    

}

img{
max-width: 200px;
height: auto;  
box-shadow: 10px 10px rgb(74, 73, 73);
}

#home{
    
    margin-bottom: 0;
    font-size: x-large;
    color: whitesmoke;
    text-align: left;
    margin-left: 20%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#about{
    justify-content: left;
    font-size: xx-large;
    color: whitesmoke;
    text-align: right;
    margin-right: 20%;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.expand-text{
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
    transition-property: letter-spacing, color;
    transition-duration: 0.5;
    transition-timing-function: ease;
}

.expand-text:hover{
    letter-spacing: 30px;
    color: #762705;
}

footer{
margin-right: 150px;
margin-bottom: 50px;
margin-top: 20px;
margin-left: 300px;

font-size: x-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.expand-text:visited{
    color: beige;
}

